__pycache__
/generate_test_data.py
/model_scripts/airfoils/airfoil_loss_curve.pdf
/model_scripts/airfoils/airfoil_model.pkl
/model_scripts/airfoils/airfoil_r2_bins.pdf
/model_scripts/airfoils/airfoil_rmse_bins.pdf
/model_scripts/airfoils/figa1a.pdf
/model_scripts/airfoils/figa1b.pdf
/model_scripts/airfoils/figa1c.pdf
/model_scripts/airfoils/figa1c.png
/model_scripts/airfoils/input_test_data.npy
/model_scripts/airfoils/input_train_data.npy
/model_scripts/airfoils/output_test_data.npy
/model_scripts/airfoils/output_train_data.npy
/model_scripts/inconel/figa2a.pdf
/model_scripts/inconel/figa2b.pdf
/model_scripts/inconel/w_inconel.txt
/model_scripts/scalar_diffusion/bcs_30.txt
/model_scripts/scalar_diffusion/bcs_30_stat.txt
/model_scripts/scalar_diffusion/figa3a.pdf
/model_scripts/scalar_diffusion/figa3b.pdf
/model_scripts/scalar_diffusion/figa3c.pdf
/model_scripts/scalar_diffusion/input_test_data.npy
/model_scripts/scalar_diffusion/output_test_data.npy
/model_scripts/scalar_diffusion/probes_30.txt
/model_scripts/scalar_diffusion/probes_30_stat.txt
/model_scripts/scalar_diffusion/scalar_diffusion_model.pkl
/models/airfoil_models/airfoil_model.pkl
/models/models.zip
/models/scalar_diffusion_models/scalar_diffusion_model.pkl
/scalar_diffusion_take_2/bc_problem/0.1/T
/scalar_diffusion_take_2/bc_problem/0.1/gradTx
/scalar_diffusion_take_2/bc_problem/0.1/gradTy
/scalar_diffusion_take_2/bc_problem/0.1/gradTz
/scalar_diffusion_take_2/bc_problem/0.1/uniform/time
/scalar_diffusion_take_2/bc_problem/0/T
/scalar_diffusion_take_2/bc_problem/Allclean
/scalar_diffusion_take_2/bc_problem/Allrun
/scalar_diffusion_take_2/bc_problem/constant/physicalProperties
/scalar_diffusion_take_2/bc_problem/constant/polyMesh/boundary
/scalar_diffusion_take_2/bc_problem/constant/polyMesh/faces
/scalar_diffusion_take_2/bc_problem/constant/polyMesh/neighbour
/scalar_diffusion_take_2/bc_problem/constant/polyMesh/owner
/scalar_diffusion_take_2/bc_problem/constant/polyMesh/points
/scalar_diffusion_take_2/bc_problem/foam.foam
/scalar_diffusion_take_2/bc_problem/postProcessing/probes1/0/T
/scalar_diffusion_take_2/bc_problem/run.sh
/scalar_diffusion_take_2/bc_problem/system/blockMeshDict
/scalar_diffusion_take_2/bc_problem/system/controlDict
/scalar_diffusion_take_2/bc_problem/system/fvSchemes
/scalar_diffusion_take_2/bc_problem/system/fvSolution
/scalar_diffusion_take_2/data/bcs.txt
/scalar_diffusion_take_2/data/bcs_30.txt
/scalar_diffusion_take_2/data/bcs_30_stat.txt
/scalar_diffusion_take_2/data/probes.txt
/scalar_diffusion_take_2/data/probes_30.txt
/scalar_diffusion_take_2/data/probes_30_stat.txt
/scalar_diffusion_take_2/data_farm.py
/scalar_diffusion_take_2/orig/T.orig
/scalar_diffusion_take_2/orig/T_80.orig
/scalar_diffusion_take_2/orig/controlDict
/scalar_diffusion_take_2/src/generate_bc.py
/build/lib/InverseBench/__init__.py
/build/lib/InverseBench/benchmarks.py
/build/lib/InverseBench/models/airfoil_models/airfoil_model.pkl
/build/lib/InverseBench/models/inconel_models/inconel_model.pkl
/build/lib/InverseBench/models/inconel_models/inconel_pca.pkl
/build/lib/InverseBench/models/scalar_diffusion_models/scalar_diffusion_model.pkl
/build/lib/InverseBench/test_data/airfoils_data/input_test_data.npy
/build/lib/InverseBench/test_data/airfoils_data/output_test_data.npy
/build/lib/InverseBench/test_data/friedman_data/input_test_data.npy
/build/lib/InverseBench/test_data/friedman_data/output_test_data.npy
/build/lib/InverseBench/test_data/inconel_data/input_test_data.npy
/build/lib/InverseBench/test_data/inconel_data/output_test_data.npy
/build/lib/InverseBench/test_data/scalar_diffusion_data/input_test_data.npy
/build/lib/InverseBench/test_data/scalar_diffusion_data/output_test_data.npy
/src/InverseBench/models/airfoil_models/.gitattributes
